@import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '~@fortawesome/fontawesome-free/scss/solid.scss';
// @import '~@fortawesome/fontawesome-free/scss/regular.scss';
// @import '~@fortawesome/fontawesome-free/scss/brands.scss';

// @import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

body {
  background:
  linear-gradient(to bottom, rgba(96, 25, 157, 0.9), rgba(1, 130, 136, 0.85), rgba(96, 25, 157, 0.9));
  background-blend-mode: saturation;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(100%);
}
