<main class="mt-5">
  <div id="intro" class="bg-image">
    <div class="" style="">
      <div
        class="container d-flex align-items-center justify-content-center text-center h-100"
      >
        <div id="title" class="">
          <h1 id="home" class="mb-3">Tiarra Blandin</h1>
          <h4 id="sub" class="mb-4">Full-Stack Developer</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <!-- About Me -->
    <div id="about" class="row justify-content-center">
        <div class="col-md-4 gx-4 m-4">
          <div>
            <img
              src="https://i.imgur.com/eCr6VpI.jpg"
              class="img-fluid rounded-1 border-light"
              style="height: 300px; width: 250px"
            />
          </div>
        </div>

        <div class="col-md-6 gx-4 m-4 text-center">
          <!-- <h4><strong>About Me</strong></h4> -->
          <p class="">
            I started off in retail sales and eventually started a book editing
            business. While I love editing, I've always felt like it wasn't enough
            for me, so I decided to take a full-stack Java development bootcamp
            that was available to me through a veteran program and absolutely
            fell in love. I'd love to grow in this industry, continue to learn
            as much as possible along the way, and hopefully manage a team
            someday.
          </p>
          <p>
            When I'm not working on personal projects, you can find me reading
            or editing books, playing video games, or doing DIY home projects.
            In my free time I love to shop and find great food to eat because
            life isn't worth living if you aren't eating delicious food.
          </p>
        </div>
    </div>

    <!-- Stack -->
      <div id="stack" class="row d-flex justify-content-center">
        <div class="col-md-3 gx-5 mb-4 mt-4 text-center">
          <h4><strong>Languages</strong></h4>
          <p class="">Java, JavaScript</p>
          <h4><strong>Web</strong></h4>
          <p class="">
            JavaScript, TypeScript, HTML, CSS, SCSS, Bootstrap, Material Design Bootstrap for Angular, Tailwind CSS
          </p>
          <h4><strong>Database</strong></h4>
          <p class="">SQL, JPA, JDBC, JPQL</p>
        </div>
        <div class="col-md-3 gx-5 mb-4 mt-4 text-center">
          <h4><strong>API's</strong></h4>
          <p class="">REST, JSON, AJAX</p>
          <h4><strong>Frameworks</strong></h4>
          <p class="">Angular, React, Spring MVC, Spring Boot, Spring Data</p>
          <h4><strong>Methodologies</strong></h4>
          <p class="">Agile, SCRUM, Test Driven Development</p>
        </div>
        <div class="col-md-3 gx-5 mb-4 mt-4 text-center">
          <h4><strong>Tools</strong></h4>
          <p class="">
            IntelliJ, VS Code, Spring Tool Suite, Eclipse, Postman, MySQL Workbench, GitHub, Trello, Figma, Replit
          </p>
        </div>
        <div class="col-md-3 gx-5 mb-4 mt-4 text-center">
          <br /><br /><br /><br /><br />
          <h3><strong><u>Technologies</u></strong></h3>
        </div>
      </div>

    <!-- Education -->
      <div id="education" class="row">
        <div class="col-md-3 gx-5 mb-4 mt-4 text-center">
          <br /><br /><br /><br /><br />
          <h3><strong><u>Education</u></strong></h3>
        </div>
        <div class="col-md-3 gx-5 mb-4 mt-4 text-center">
          <h4><strong>Degrees</strong></h4>
          <p>BA - English, International Business</p>
          <p>Metropolitan State University of Denver</p>
          <br />
          <p>Associates of Arts</p>
          <p>Arapahoe Community College</p>
        </div>
        <div class="col-md-3 gx-5 mb-4 mt-4 text-center">
          <h4><strong>Certifications</strong></h4>
          <p>Full-stack Java Developer</p>
          <p>Skill Distillery</p>
          <br />
          <p>Certified ScrumMaster</p>
          <p>SCRUM Alliance</p>
        </div>
      </div>
    </div>
  <br /><br /><br /><br />

  <!-- experience -->
  <div class="">
    <section class="text-center">
      <h3 id="projects" class="mb-5"><strong><u>Projects</u></strong></h3>

      <!-- Menrva Books -->
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-12 mb-3">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
                <img
                  src="https://i.imgur.com/wOLPyAh.jpg"
                  class="img-responsive img-fluid hover-shadow rounded-3 mt-4 mb-3"
                  style="height: 200px; width: 220px"
                />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="https://www.menrvabooks.com"
                  class="text-light"
                  target="_blank"
                  >Menrva Books</a
                >
              </h5>
              <a
                href="https://github.com/tiarrablandin/"
                class="text-light"
                target="_blank"
                >GitHub Repository</a
                >
            </div>
          </div>
        </div>

        <!-- Grimoire Collective -->
        <div class="col-lg-2 col-md-6 mb-3">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
                <img
                  src="https://i.imgur.com/wOLPyAh.jpg"
                  class="img-responsive img-fluid hover-shadow rounded-3 mt-4 mb-3"
                  style="height: 200px; width: 220px"
                />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="https://www.grimoirecollective.com"
                  class="text-light"
                  target="_blank"
                  >Grimoire Collective</a
                >
              </h5>
              <a
                href="https://github.com/tiarrablandin/"
                class="text-light"
                target="_blank"
                >GitHub Repository</a
                >
            </div>
          </div>
        </div>

        <!-- Allotrope Editorial -->
        <div class="col-lg-2 col-md-6 mb-3">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
                <img
                  src="https://i.imgur.com/2RjifC5.png"
                  class="img-responsive img-fluid hover-shadow rounded-3 mt-4 mb-3"
                  style="height: 200px; width: 220px"
                />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="https://www.allotropeeditorial.com"
                  class="text-light"
                  target="_blank"
                  >Allotrope Editorial</a
                >
              </h5>
              <a
                href="https://github.com/allotropeeditorial/allotropeeditorial.github.io"
                class="text-light"
                target="_blank"
                >GitHub Repository</a
                >
            </div>
          </div>
        </div>

        <!-- Toon Throwback -->
        <div class="col-lg-2 col-md-6 mb-3">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
                <img
                  src="https://i.imgur.com/oOanvfL.png"
                  class="img-responsive img-fluid hover-shadow rounded-3 mt-4 mb-3"
                  style="height: 200px; width: 220px"
                />
              <a
                href="http://18.144.181.105:8080/ToonThrowback/"
                target="_blank"
              >
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="http://18.144.181.105:8080/ToonThrowback/"
                  class="text-light"
                  target="_blank"
                  >Toon Throwback</a
                >
              </h5>
              <a
                href="https://github.com/tiarrablandin/FinalProject"
                class="text-light"
                target="_blank"
                >GitHub Repository</a
              >
              <!-- <p class="card-text">
                Toon Throwback is an application built simply for nostalgic
                purposes. We wanted to do something fun and what's more fun than
                throwback cartoons?
              </p> -->
            </div>
          </div>
        </div>

        <!-- Pizza Palette -->
        <div class="col-lg-2 col-md-6 mb-3">
          <div class="card">
            <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
            >
                <img
                src="https://i.imgur.com/Jo5t230.png"
                class="img-responsive img-fluid hover-shadow rounded-3 mt-4 mb-3"
                style="height: 200px; width: 220px"
                />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="http://18.144.181.105:8080/PizzaPalette/"
                  class="text-light"
                  target="_blank"
                  >Pizza Palette</a
                  >
                </h5>
                <a
                href="https://github.com/tiarrablandin/MidtermProjectMe"
                class="text-light"
                target="_blank"
                >GitHub Repository</a
                >
                <!-- <p class="card-text">
                  Pizza Palette is an application that we built for pizza
                connoisseurs to search for pizza restaurants using niche
                keywords.
              </p> -->
            </div>
          </div>
        </div>

        <!-- Rock Cycles -->
        <!-- <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong"
              data-mdb-ripple-color="light"
            >
              <a href="http://18.144.181.105:8080/RockCycles/" target="_blank">
                <img
                  src="https://i.imgur.com/GnT18ya.png"
                  class="img-responsive img-fluid hover-shadow rounded-3 mt-4 mb-3"
                  style="height: 300px; width: 370px"
                />
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="http://18.144.181.105:8080/RockCycles/"
                  class="text-light"
                  target="_blank"
                  >Rock Cycles</a
                >
              </h5>
              <a
                href="https://github.com/tiarrablandin/EventTrackerProject"
                class="text-light"
                target="_blank"
                >GitHub Repository</a
              >
              <p class="card-text">
                Rock Cycles is an application that I built to keep track of an
                individuals rock collection. This was my first project using
                Angular.
              </p>
            </div>
          </div>
        </div> -->

        <!-- Book Directory -->
        <!-- <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <a
                href="http://18.144.181.105:8080/BookDirectory"
                target="_blank"
              >
                <img
                  src="https://i.imgur.com/aG6mMpr.png"
                  class="img-responsive img-fluid hover-shadow rounded-3 mt-4 mb-3"
                  style="height: 300px"
                />
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="http://18.144.181.105:8080/BookDirectory"
                  class="text-light"
                  target="_blank"
                  >Book Directory</a
                >
              </h5>
              <a
                href="https://github.com/tiarrablandin/JPACRUDProject"
                class="text-light"
                target="_blank"
                >GitHub Repository</a
              >
              <p class="card-text">
                The Book Directory is an application that I built to keep track
                of an individuals book collection. This was my first individual
                project using SpringJPA and JPQL.
              </p>
            </div>
          </div>
        </div> -->
      </div>
      <!-- <div
              class="right"
              *ngIf="totalPages > 1"
              (click)="currentPage != totalPages && changePage(+1)"
              [ngClass]="{ disabled: currentPage === totalPages }"
            ></div>
          </div>
        </div>
      </div> -->
    </section>
  </div>
</main>
